.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  min-height: 100vh;
}

.title-container {
  position: relative;
  padding: 50px;
  overflow: hidden;
  user-select: none;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  font-size: 50px;
  font-weight: 700;
  color: #fefce1;
  background-color: #1f1f1f;
  overflow: hidden;
}

.gradient-text {
  background: linear-gradient(45deg, #f6bcf7, #fb850b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emoji-animal,
.emoji-tee {
  position: absolute;
  opacity: 0;
  transition: transform 400ms ease, opacity 400ms ease;
}

.emoji-animal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  top: 0;
  left: 0;
  transform: rotate(-30deg) translateY(-100%);
}

.emoji-tee {
  bottom: 0;
  right: 0;
  transform: rotate(30deg) translateY(30%) translateX(120%);
}

.title-container:hover .emoji-animal,
.title-container:focus-visible .emoji-animal {
  opacity: 1;
  transform: rotate(-45deg) translate(-10%, 10%);
}

.title-container:hover .emoji-tee,
.title-container:focus-visible .emoji-tee {
  opacity: 1;
  transform: rotate(45deg) translate(-50%, -10%);
}

@media (max-width: 768px) {
  .title-wrapper {
    flex-direction: column;
    gap: 0;
  }

  .title-container:hover .emoji-animal,
  .title-container:focus-visible .emoji-animal {
    transform: rotate(-45deg) translate(-10%, 50%);
  }
}
